<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/stylehomepage.css">
        <title>Document</title>
    </head>
    <body>
        <h1>Выбор категории</h1>
        <ul>
            {% for sheet in sheets %}
            <li>
                <form action="/question/" method="POST">
                    <input type="submit", name="sheet", value="{{sheet}}">
                </form>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>